<h2> <%= @album.band.name %> </h2>
<br>

<h1> <%=@album.title %> </h1>
<br>
<ul>
<% @album.tracks.each do |track| %>
<li> <%= link_to track.title, track_url(track) %> </li>
<% end %>
</ul>
<%= link_to "Create New Track", new_track_url, {:id => @album.id }%> <br>
<%= link_to "Delete Album", album_url, {:id => @album.id, method: :delete}%> <br>
<%= link_to "Back to band", band_url(@album.band)%>
